.td-header {

    background-color: #191C24;
    justify-content: center;
    display: flex;
    padding: 30px;
    margin: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    color: white

}

.td-meta-stats {

    background-color: #191C24;
    justify-content: center;
    display: flex;
    padding: 30px;
    margin: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    color: white

}


